$title-font: 'Lato', serif;
$body-font: 'Lato', sans-serif;

h1, h2, h3, h4 {
  font-family: $title-font;
  font-weight: bold;
}

p {
  font-family: $body-font;
  line-height: 1.5em;
  font-size: 1.5em;
}

a {
  font-family: inherit;
}

.post-content ul {
  list-style: disc;
  list-style-position: inside;
  padding-left: 40px;

  li {
    font-family: $body-font;
    line-height: 1.5em;
    font-size: 1.5em;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  background: #F1F1F1;
  padding: 3px 3px 2px;
  border-radius: 3px;
  color: #999;
}

pre {
  background: #F1F1F1;
  padding: 10px 20px;
  overflow: auto;

  code {
    padding: 0;
    font-size: 1.5em;
  }
}

blockquote {
  padding: 0 0 0 20%;
  color: #CCC;
  position: relative;

  &:before {
    content: "\201C";
    font-size: 100px;
    position: absolute;
    top: -15px;
    left: 20%;
    margin-left: -50px;
    color: #F1F1F1;
  }

  a {
    color: #999;
  }
}

h1 { font-size: 2.3em }

h2 { font-size: 1.9em }

h3 { font-size: 1.5em }

h1, h2, h3, h4, p {
  margin: 1.2em 0;
}
