.site-footer {
  background: #FAFAFA;
  padding: 20px 0;

  svg {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    fill: #999;
  }

  .links {
    list-style: none;

    .links-item {
      display: inline;
      margin-right: 25px;

      > a {
        color: #999;
        text-decoration: none;
      }
    }
  }
}
