.home {

  .welcome {
    color: darken(#CCC, 20%);
    font-size: 3em;
    text-align: center;

    small {
      color: darken(#CCC, 30%);
      font-size: 0.6em;
    }
  }

  .posts {
    margin-top: 30px;
  }

  .post-link {
    font-size: 2em;
    font-family: $title-font;
    text-decoration: none;
    color: inherit;
    margin-bottom: 30px;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  .post-date {
    font-family: $body-font;
    color: #CCC;
  }
}
