.home {

  .home-header {
    .site-title {
      font-family: $title-font;
      color: #CCC;
      text-decoration: none;
      font-size: 80px;
    }

    .site-description {
      font-family: $body-font;
      color: #CCC;
      font-size: 40px;
    }
  }

  .post-link {
    font-size: 25px;
    font-family: $title-font;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .post-date {
    font-family: $body-font;
    color: #CCC;
  }
}
