* {
    margin: 0;
    padding: 0;
}

body {
    background: #EAEAEA;
}

h1 {
    font: 100px 'Bree Serif', arial;
    margin: 10px 40px;
    text-shadow: 4px 4px 0px #CCC;
}

h2 {
    font: 35px 'Bree Serif', arial;
    margin: 10px 40px;
    color: #333;
    max-width: 1100px;
}

hr {
    width: 50%;
    border: none;
    border-bottom: 1px solid #AAA;
    margin: 10px 40px;
}

.imgcontainer {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 40px;
}

img {
    width: 200px;
    position: relative;
    box-shadow: 2px 2px 10px #AAA;
}

p {
  margin: 10px 40px 20px 40px;
  font: 20px 'Bree Serif', arial;
  max-width: 1100px;
}
