<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    <div class="page-content home">
      <div class="wrap">
        <div class="home-header">
          <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
        </div>

        <aside class="description">
          &nbsp;
        </aside>
        <article class="content">
          {{ content }}
        </article>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
